<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"  layout:decorate="~{layout/main}">
<style>

</style>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>List Of Product</h1>
    </div>
    <div class="container">
        <div class="row mb-5">
            <div class="col">
                <a th:href="@{/product/add}" class="btn btn-primary">Add Product</a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <form class="form" th:action="@{/product/list}" th:object="${searchForm}" method="GET">
                    <div class="form-group">
                        <label>Search Type:</label>
                        <select class="form-control" th:field="*{searchType}">
                            <option value="ALL">ALL</option>
                            <option value="PRICE">PRICE</option>
                            <option value="NAME">NAME</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Search:</label>
                        <input type="text" class="form-control" placeholder="Please enter search data" th:field="*{searchText}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-border">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Create By</th>
                        <th>Create At</th>
                        <th>Control</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p : ${productList}">
                        <td th:utext="${p.id}"></td>
                        <td th:utext="${p.name}"></td>
                        <td th:utext="${p.price}"></td>
                        <td th:utext="${p.createBy}"></td>
                        <td th:utext="${p.createAt}"></td>
                        <td>
                            <a th:href="@{/product/detail/{id}(id=${p.id})}" class="btn btn-primary">Detail</a>
                            <a th:href="@{/product/create/{id}(id=${p.id})}" class="btn btn-warning">Update</a>
                            <a th:href="@{/product/delete/{id}(id=${p.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>