<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"  layout:decorate="~{layout/main}">
<style>

</style>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Detail of Category</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                Mã danh mục
            </div>
            <div class="col">
                <p th:utext="${productCategory.id}"></p>
            </div>

        </div>
        <div class="row">
            <div class="col">
                Ten danh mục
            </div>
            <div class="col">
                <p th:utext="${productCategory.name}"></p>
            </div>
        </div>
        <div class="row">
            <h2>List of Product</h2>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-border">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Create By</th>
                        <th>Create At</th>
                        <th>Control</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p : ${productCategory.productList}">
                        <td th:utext="${p.id}"></td>
                        <td th:utext="${p.name}"></td>
                        <td th:utext="${p.price}"></td>
                        <td th:utext="${p.createBy}"></td>
                        <td th:utext="${p.createAt}"></td>
                        <td>
                            <a th:href="@{/product/detail/{id}(id=${p.id})}" class="btn btn-primary">Detail</a>
                            <a th:href="@{/product/create/{id}(id=${p.id})}" class="btn btn-warning">Update</a>
                            <a th:href="@{/product/delete/{id}(id=${p.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>